.container {
  width: 100%;
}

body {
  background: #ffffff;
  width:100%
  font-family:Verdana, arial, helvetica, sans-serif;
}




header {
  height:70px;
  padding:0px;
  margin:0px;
}
#menubar {
	height:70px;
	margin-bottom:0px;
}

header img {
  padding: 0px;
}
header td {
	padding: 0px;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}



/* Links */

a {
  color: #444;
  text-decoration: none;
}

a:hover {
  color: #444;
  text-decoration: underline;
  background-color: #FFFFFF;
}

a:visited {
  color: #444;
  
}

/* Navigation */

nav {
  float: left;
  width:100%;
  padding:0px;
  margin:0px;
  
}

nav {
  background-color: #ffffff;
  white-space: nowrap;
  /*border-bottom: 1px solid #EEE;*/
}

#menubar td.bottomtd {
 border-bottom: 1px solid #EEE;
}

/* MAIN MENU*/
#mainmenu {
  height:20px;
  margin-top:10px;
}

#mainmenu ul {
  margin: 0;
  padding: 0;
}

#mainmenu ul li {
  list-style-type: none;
  display: inline;
  padding: 0.2em 0;
}

#mainmenu ul li a {
  padding: 0 5px;
  font-family:Verdana, arial, helvetica, sans-serif;
  font-size:1em;
  color: #444444;
}
#mainmenu ul li span {
  float:right;
}

#mainmenu ul li a:visited {
  color: #444444;
}

#mainmenu ul li a:hover {
  color: #444444;
}

#mainmenu ul li a:hover {
  text-decoration: underline;
}
/*CENTERED MENU */
.centeredmenu {
    border-bottom: 1px solid #EEE;
}
.centeredmenu  ul {
    overflow: hidden;
    margin: 1em 0 -1px;
    padding: 5px;
    height:25px;
}
.centeredmenu ul li {
   display: inline-block;
   float:left;
   list-style:none;
   margin:0;
   position:relative;
}
.centeredmenu ul li a{
    font-size:1.3em;
   display:block;
   margin:5px 0px 0px 2px;
   padding:0px 10px;
   background:#EEE;
   color:#444;
   text-decoration:none;
   height:25px;
    border-bottom: 1px solid #EEE;
   border-top: 2px solid #EEE;
   border-left: 1px solid #EEE;
   border-right: 1px solid #EEE;
  border-top-left-radius:    8px;
  border-top-right-radius: 8px;
    font-size: 15px;
}
.centeredmenu ul li a:hover {
   background:#FFF;
   color:#444;
   border-top: 2px solid #EEE;
   border-left: 1px solid #EEE;
   border-right: 1px solid #EEE;
   border-bottom: 1px solid #EEE;
  border-top-left-radius:    8px;
  border-top-right-radius: 8px;
}
.centeredmenu ul li a.active,
.centeredmenu ul li a.active:hover {
   color:#444;
   background:#FFF;
   border-top: 2px solid #EEE;
   border-left: 1px solid #EEE;
   border-right: 1px solid #EEE;
   border-bottom: 1px solid #FFF;
  border-top-left-radius:    8px;
  border-top-right-radius: 8px;
}



/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #fc2500;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}


footer {
  text-align: center;
  margin-top: 10px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.searchBox{
	line-height: 1.2em!important;
	height: 1.7em!important;
	font: 17px arial,sans-serif;
	width:500px;
}

.searchButton{
-moz-box-shadow:inset 0px 1px 0px 0px #fd2700;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fd2700;
	box-shadow:inset 0px 1px 0px 0px #fd2700;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fd2700), color-stop(1, #fd2700) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fd2700', endColorstr='#fd2700');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana, arial, helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #fd2700;
}
.searchButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fd2700), color-stop(1, #fd2700) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fd2700', endColorstr='#fd2700');
	background-color:#dfdfdf;
}
.searchButton:active {
	position:relative;
	top:1px;
	
	#overlay {
		background-image:url(http://static.flowplayer.org/img/overlay/transparent.png);
		color:#efefef;
		height:450px;
	}
	
	/* container for external content. uses vertical scrollbar, if needed */
	div.contentWrap {
		height:441px;
		overflow-y:auto;
	}
	
table.list{
	border:1px solid #FF0000;
}
	
