<h1>Follow product</h1>
- <%=@product.price()%> Points
<%= form_for([@product, @product.productpurchases.build], :remote => true)  do |f| %>


    <%= f.text_field :user_id, :value => @current_user.id, :type => "hidden" %>
    <%= f.text_field :price, :value => @product.price(), :type => "hidden" %>

			<input name="commit" type="submit" value="Validate">

	<% end %>
