<% options=raw("<option value='0'></option>") %>
<% @categories.each do |c| %>
	<% options=options+raw("<option value='"+c.id.to_s+"'>"+c.title+"</option>") %>
<% end %>
$("#commodity").html("<%=options%>")