<% options=raw("<option value='"+params[:id]+"'></option>") %>
<% @categories.each do |c| %>
	<% options=options+raw("<option value='"+c.id.to_s+"'>"+c.id.to_s+": "+c.title+"</option>") %>
<% end %>
$("#myClass").html("<%=options%>")
$("#commodity_class").show()
$("#commodity_commodity").hide()
$('#product_category_id').val(<%=params[:id]%>)