<header>
  <%= image_tag("logo_110.png", :alt => "Sample App", :class => "round") %>
  <link rel="apple-touch-icon" href="assets/logo_110_white.png"/>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Login", '#' %></li>
    </ul>
  </nav>
</header>