<header>
	<meta name="apple-mobile-web-app-capable" content="yes">
  <%= image_tag("logo_110.png", :alt => "Sample App", :class => "round") %>
  <link rel="apple-touch-icon" href="assets/logo_110_white.png"/>
  <link rel="apple-touch-startup-image" href="assets/logo_wait.png">
  <link rel="apple-touch-startup-image" href="assets/logo_wait_ipad.png">
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Login", '#' %></li>
    </ul>
  </nav>
</header>